///////////////
// Theme: Theme
///////////////

body {
  background-color: $primary_color;
  color: $body_copy;
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;

  // Site Hedaer
  header[role="site_header"] {
    color: white;
    text-align: center;

    h1 {
      visibility: hidden;
      display: inline;

    }

    .heeader_logo { width: 100%; }

  }

  // Site Body
  div[role="site_main"] {
    background-color: white;
  }

}
