<div ng-controller="MainCtrl">

<h2>Can't celebrate with us? Add a video on Instagram and tag it with <span class="hashtag">#{{hashtag}}</span> and it'll show up here.</h2>

  <ul>
    <li ng-repeat="p in pics">
        <div class="instagram_media" ng-if="p.type == 'video'">

          <h4>{{p.type}}</h4>
          <a href="{{p.link}}" target="_blank">
            <img ng-src="{{p.images.thumbnail.url}}" />
          </a>
          <p>{{p.caption.text}}</p>

        </div>

        <div class="instagram_media" ng-if="p.type == 'image'">

          <h4>{{p.type}}</h4>
          <a href="{{p.link}}" target="_blank">
            <img ng-src="{{p.images.thumbnail.url}}" />
          </a>
          <p>{{p.caption.text}}</p>

        </div>


    </li>
  </ul>

</div>
