<div ng-controller="MainCtrl">

  <ul>

    <div ng-if="pics.length == 0">
      <h3>Nothing yet... why don't you be the first?</h3>
    </div>

    <li ng-repeat="p in pics">
        <div class="instagram_media" ng-if="p.type == 'video'">

          <h4>{{p.type}}</h4>
          <a href="{{p.link}}" target="_blank">
            <img ng-src="{{p.images.thumbnail.url}}" />
          </a>
          <p>{{p.caption.text}}</p>

        </div>

        <div class="instagram_media" ng-if="p.type == 'image'">

          <h4>{{p.type}}</h4>
          <a href="{{p.link}}" target="_blank">
            <img ng-src="{{p.images.thumbnail.url}}" />
          </a>
          <p>{{p.caption.text}}</p>

        </div>


    </li>
  </ul>

</div>
