///////////////
// Theme: Theme
///////////////

body {
  background-color: $primary_color;
  color: $body_copy;

  // Site Hedaer
  header[role="site_header"] {
    color: white;
    text-align: center;

    h1 {
      visibility: hidden;
      display: inline;
      
    }

    .heeader_logo { width: 100%; }

    h2 { 
      font-size: 2.8em; 

      a {
        color: inherit;
      }

    }

  }

  // Site Body
  div[role="site_main"] {
    background-color: white;
  }

}
